.container{
margin: 0 auto;
width: 500px;

}

body{
    font-family: "Lato", sans-serif;

}

h2{
    font-weight: 400;

}

p{
    font-weight: 300;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.columna{
    background-color: rgb(233, 233, 233);
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(139, 139, 139);
    width: 20%;
    box-sizing: border-box;
}

.precio{
    font-size: 50px;
    color: rgb(30, 189, 189);
}

.btn-precio{
    background: salmon;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.btn-precio:hover{
    background-color: rgb(247, 105, 89);

}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}